<div class="container">
  <div class="centered-content">
    <mat-form-field style="width: 50vw">
      <textarea
        matInput
        [(ngModel)]="emails"
        placeholder="Enter comma separated emails"
      ></textarea>
    </mat-form-field>
    <button style="width: 10vw" mat-raised-button (click)="sendRequest()">
      Send
    </button>
    <div *ngIf="showLoader" class="table-centered">
      <span><mat-spinner diameter="15"></mat-spinner>&nbsp;Loading...</span>
    </div>
  </div>
</div>
<div class="table-container" *ngIf="apiResponse">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <ng-container matColumnDef="isValid">
      <th mat-header-cell *matHeaderCellDef>Is Valid</th>
      <td mat-cell *matCellDef="let element">{{ element.isValid }}</td>
    </ng-container>

    <ng-container matColumnDef="isCatchAllEmail">
      <th mat-header-cell *matHeaderCellDef>Is Catch-All</th>
      <td mat-cell *matCellDef="let element">{{ element.isCatchAllEmail }}</td>
    </ng-container>

    <ng-container matColumnDef="response">
      <th mat-header-cell *matHeaderCellDef>Response</th>
      <td mat-cell *matCellDef="let element">
        <div class="line-break">{{ element.response }}</div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
